.messageContainer {
  border: #00FF00 solid 1px;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}
.dateTime {
  font-size: 70%;
  color: #00FF00;
  margin: 0;
}
#sender {
  color: #FEA520;
  margin: 0;
}
#message {
  width: 70%;
}
#messageInfo {
  width: 24%;
  padding-right: 1%;
  border-right: #FEA520 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
