
#gameDescriptionElement {
  width: 30%;
}
#gameInfoPageContainer {
  display: flex;
  justify-content: space-evenly;
  height: 85%;
}
.chat {
  height: 100%;
}
.map {
  row-gap: 0;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}
/****************************
 *     MOBILE ATTRIBUTES    *
 ****************************/
#gameInfoPageContainerMobile {
  display: flex;
  flex-direction: column;
  width: 97%;
}
