<mat-dialog-content>
  <mat-form-field class="text" appearance="fill">
    <mat-label>Killer Name</mat-label>
    <select matNativeControl (change)="selectKiller($event)">
      <option *ngFor="let killer of data.ids" [value]="killer.id"
              [selected]="selectedKillerID === killer.id">{{ killer.name }}</option>
    </select>
  </mat-form-field>

  <mat-form-field class="text" appearance="fill">
    <mat-label>Victim Name</mat-label>
    <select matNativeControl (change)="selectVictim($event)">
      <option *ngFor="let victim of data.biteCodes" [value]="victim.biteCode"
              [selected]="selectedVictimBiteCode === victim.biteCode">{{ victim.name }}</option>
    </select>
  </mat-form-field>

  <textarea class="text" id="story" cdkTextareaAutosize maxlength="255"
      [(ngModel)]="data.story" placeholder="Kill Story (Optional)"></textarea>
  <mat-label class="text">When did the kill happen? (Required):</mat-label>
  <section class="text" id="dateTimeContainer">
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="startPicker" placeholder="Time of death" [(ngModel)]="data.timeOfDeath">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
  </section>
</mat-dialog-content>

<mat-dialog-actions id="buttonContainer">
  <button id="saveMission" class="normalGreyButton" (click)="closeDialog(true)">Save</button>
  <button id="deleteMission" class="normalGreyButton" (click)="closeDialog(false)">Delete</button>
</mat-dialog-actions>
